/* HEADER */
.info-wrapper {
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0 88%);
  background-image: url("/back2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.info-title {
  text-align: end;
  font-size: 2rem;
  font-weight: 700;
  color: whitesmoke;
  align-self: flex-start;
  margin-top: 7rem;
  text-wrap: balance;
  & span {
    font-size: 3rem;
    color: var(--red);
  }
  & p {
    font-size: 0.5rem;
    font-style: italic;
    font-weight: 500;
    color: grey;
  }
}
.info-img {
  position: relative;

  & img {
    margin-bottom: 10rem;
    min-width: 150px;
    max-width: 250px;
    position: absolute;
    top: -250px;
  }
}
.info-clubs {
  max-width: 30%;
  align-self: flex-start;
  margin-top: 2rem;
  padding-left: 1rem;
}
.club {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: rgb(241, 233, 233);
 
  & img {
    max-width: 30px;
    opacity: .7;
  }
  & p{
    color: gray;
    font-weight: 600;
  }
}

/* BIO */
.player-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(17, 15, 15);
  padding-top: 10rem;
  margin-top: -7rem;
  font-family: var(--text);
  & div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
  }
  .data {
    & h4 {
      color: whitesmoke;
      margin-bottom: 0.5rem;
    }
    & p {
      color: gray;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
.player-data_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  & img {
    filter: drop-shadow(1px 4px 5px rgb(170, 164, 74));
    margin: 0 auto;
    max-width: 400px;
  }
}
/* BIO-BUTTON */
button,
button::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #cf162f 5%);
  border: 0;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px whitesmoke;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "DIEGO";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #7b836c 3%,
    #463837 5%,
    #302a2a 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 450px) {
  .info-title {
    padding-left: 2rem;
  }
  .info-img {
    & img {
      margin-bottom: 10rem;
      min-width: 150px;
      max-width: 300px;
      position: absolute;
      top: -290px;
    }
  }
  .info-clubs {
    margin-top: 5rem;
    padding-left: 2rem;
  }
}
@media (min-width: 500px) {
  .info-wrapper {
    display: flex;
  }
  .info-title {
    width: 40%;
    font-size: 3rem;
    & span {
      font-size: 5rem;
    }
    & p {
      font-size: 1rem;
      font-weight: 700;
    }
  }
  .info-img {
    & img {
      max-width: 500px;
    }
  }
  .info-clubs {
    max-width: 30%;
    align-self: flex-start;
    margin-top: 2rem;
    padding-left: 1rem;
  }
  .club{
    text-align: center;
  }
}

@media (min-width: 600px) {
  .info-wrapper {
    display: flex;
    flex-direction: row;
  }
  .info-title {
    margin-left: 7rem;
    max-width: 30%;
  }
  .info-img {
    & img {
      width: 200px;
      top: -15rem;
    }
  }
  .info-clubs {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: 1rem;
    padding-top: 15rem;
  }

  .player-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & div {
      margin-left: 8rem;
      width: 40%;
    }
    .data {
      & h4 {
        color: whitesmoke;
        margin-bottom: 0.5rem;
      }
      & p {
        color: gray;
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }
  .player-data_img {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .info-wrapper {
    width: 98.7vw;
  }
  .info-title {
    font-size: 4rem;
    line-height: 3rem;
    padding-right: 3rem;
    font-weight: 600;
    & span {
      font-size: 7rem;
    }
    & p {
      font-size: 0.9rem;
    }
  }
  .info-img {
    & img {
      width: 200px;
      top: -14rem;
      left: 80px;
    }
  }
  .info-clubs {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    padding-right: 1rem;
    padding-top: 15rem;
  }
  .club {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    line-height: 2rem;
      & img{
        align-self: flex-start;
      }
  }

  .player-data {
    & div {
      margin-left: 15rem;
      width: 20%;
    }
  }
  .player-data_img {
    width: 60%;
  }
}
