.palmares-wrapper {
  background-color: rgb(17, 15, 15);
}
.palmares-data {
  display: flex;
  flex-direction: column;
  & h3 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--red);
    font-size: 2rem;
    & img {
      opacity: .6;
      max-width: 50px;
    }
  }
  & p {
    margin-top: 1rem;
    display: flex;
    padding-left: 1rem;
    align-items: center;
    color:whitesmoke;
    font-weight: 600;
    font-family: var(--text);
    
    & img {
      max-width: 30px;
    }
  }
}

.palmares-img {
  & img {
    max-width: 400px;
  }
}
.palmares-data2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-family: var(--text);
}

.palmares-data2 div {
  padding: 1rem;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  & h3 {
    display: flex;
    align-self: center;
    gap: .5rem;
    color:var(--red);
    font-size: 1.4rem;
  }
  & p {
    color: whitesmoke;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-right: 2rem;
    & img {
      max-width: 30px;
    }
  }
}


@media (min-width: 600px) {
  .palmares-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
  .palmares-data {
 
    & h3 {
      padding-left: 5rem;
      & img {
        max-width: 50px;
      }
    }
    & p {
      padding-left: 8rem;
    }
  }
  .palmares-img {
    & img {
      max-width: 400px;
    }
  }
  .palmares-data2 {
    grid-column: 1/3;
   
    & p{
      margin-top: 1rem;
      line-height: 1rem;
    }
  }
}

@media(min-width: 950px) {
  .palmares-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .palmares-data{
    align-self: flex-start;
    & h3{
      padding-left: 1rem;
    }
  }
  .palmares-data2 {
    width: 33%;
    align-self: flex-end;
    & p {
      align-self: flex-start;
    }
  }
}