.home {
  position: relative;
  width: 100vw;
  height: 105vh;
  background: url("/back2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.home-player {
  & img {
    width: 30px;
    min-width: 300px;
    max-width: 350px;
    opacity: 1;
    position: absolute;
    right: 10%;
    top: 150px;
  }
}
.home-escudo {
  & img {
    position: absolute;
    top: 130px;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 500px;
    opacity: 0.2;
    min-width: 300px;
    max-width: 350px;
  }
}
.home-title {
  display: flex;
  height: 100%;
  padding-top: 6rem;
  padding-right: 1rem;
  justify-content: flex-end;

  & h1 {
    font-size: 3rem;
    z-index: 100;
    margin-left: 10rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px rgba(172, 114, 8, 0.842);
    line-height: 2.5rem;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 390px) {
  .home {
  }
  .home-player {
    & img {
      left: 0;
      top: 150px;
    }
  }
  .home-escudo {
    & img {
      left: 15%;
      right: 40rem;
    }
  }
  .home-title {
    padding-left: 12rem;
    & h1 {
    }
  }
}

@media (min-width: 600px) {
  .home {
    width: 100vw;
    height: 105vh;
  }
  .home-player {
    & img {
      left: 23%;
      top: 140px;
    }
  }
  .home-escudo {
    & img {
      left: 30%;
      right: 40rem;
    }
  }
  .home-title {
    padding-left: 45%;
    padding-top: 20rem;
    & h1 {
        font-size: 5rem;
        line-height: 3.6rem;
    }
  }
}

@media (min-width: 950px) {
    .home {
      height: 100vh;
    }
    .home-player {
      & img {
        width: 500px;
        left: 20%;
        top: 80px;
      }
    }
    .home-escudo {
      & img {
        min-width: 400px;
        left: 32%;
        top: 10%;
      }
    }
    .home-title {
      padding-left: 70%;
      padding-top: 20rem;
    }
  }

  @media (min-width: 1100px) {
    .home{
        width: 98.7vw;
    }
    .home-player {
      & img {
        width: 550px;
        left: 20%;
        top: 160px;
      }
    }
    
    .home-title {
      padding-left: 60%;
      width: 98vw;
    }
  }