@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-title: "Montserrat", sans-serif;
  --font-text: "Roboto Slab", serif;
  --red: #D80032;
  --black: rgb(39, 36, 36);
  --yellow: rgba(172, 114, 8, 0.842);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-title);
}

img {
  display: block;
  width: 100%;
}
ul,
li {
  list-style: none;
  text-decoration: none;
}

/*  SIDEBAR */
.sidebar {
   align-self: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
.side-wrapper {
  width: 100vw;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-img_suela {
  display: inline-block;
  & img {
    max-width: 6rem;
  }
}
.side-btns {
  width: 100%;
  & ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    gap: 1rem;
    font-size: 2.1rem;
    border-bottom: 0.2rem solid rgb(51, 47, 47);
    color:   rgba(172, 114, 8, 0.842);
  }
} 
/* Video */
.video-container {
  margin: 0 auto;
  background-color: rgb(17, 15, 15);
  width: 98.5vw;
  padding: 1rem 2rem;
}

.video-wrapper {
  width: 70vw;
  background-color: rgb(17, 15, 15);
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(212, 203, 203, 0.24) 0px 3px 8px;
  & div{
    width: 100%;
    padding: .2rem;
  }
}

/* Carousel */
.swipper-container{
  position: relative;
  height: 100%;
}

.swipper-container{
  width: 90vw;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 1rem;
  margin: 3rem auto;
  background-color: rgb(17, 15, 15);
  border-radius: 10px;
  box-shadow: rgba(212, 203, 203, 0.24) 0px 3px 8px;
  min-width: 60vh;
}

.swiper {
  width: 90%;
  height: 90%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
}

@media (min-width: 600px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    display: inline-block;
  }
  .side-wrapper {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 60px;
    align-self: center;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-left: 1rem;
    border-right: 0.2rem solid rgb(51, 47, 47);
  }
  .side-img_suela {
    display: inline-block;
    align-self: flex-start;
  }
  .side-btns {
    padding-left: 1rem;
    align-self: center;
    & ul {
        padding-bottom: 1rem;
        font-size: 2.5rem;
        align-items: center;
        flex-direction: column;
    }
  }
  
}

@media (min-width: 1000px) {
  .video-wrapper {
    width: 60vw;
}
.swipper-container{
  width: 70vw;
  height: 90vh;
}
.swiper {
  width: 90%;
  height: 100%;
}
}